@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #e4e4e4;
  line-height: 1;
  font-family: "MYRIADPRO";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "MYRIADPRO";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 1000.52%);
  color: #ffffff;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 76.875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.hello {
  position: relative;
  z-index: 5;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 1000.52%);
}
@media (min-width: 78.75em) {
  .hello {
    padding-top: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .hello {
    padding-top: clamp( 6.875rem , 6.4494680851rem  +  2.1276595745vw , 8.125rem );
  }
}
@media (max-width: 20em) {
  .hello {
    padding-top: 6.875rem;
  }
}
.hello__bg {
  position: absolute;
  width: 500%;
  height: 100%;
  top: 0%;
  left: -200%;
  margin-top: 0px;
  overflow-x: visible;
  z-index: 0;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 1000.52%);
}
.hello__items {
  z-index: 5;
  position: relative;
  display: grid;
  row-gap: 30px;
}
@media (min-width: 47.99875em) {
  .hello__items {
    grid-template-columns: 37.19% 1fr;
  }
}
@media (min-width: 47.99875em) and (min-width: 78.75em) {
  .hello__items {
    column-gap: 9.375rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 78.75em) {
  .hello__items {
    column-gap: clamp( 0.625rem , -2.3537234043rem  +  14.8936170213vw , 9.375rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 20em) {
  .hello__items {
    column-gap: 0.625rem;
  }
}
.hello__intro {
  display: flex;
  gap: 27px;
  flex-direction: column;
  justify-content: center;
}
.hello__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.125;
  color: #e4e4e4;
}
@media (min-width: 78.75em) {
  .hello__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .hello__title {
    font-size: clamp( 1.75rem , 1.3244680851rem  +  2.1276595745vw , 3rem );
  }
}
@media (max-width: 20em) {
  .hello__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 47.99875em) {
  .hello__title {
    text-align: center;
  }
}
.hello__name {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.138;
  color: #e4e4e4;
  text-transform: uppercase;
}
@media (min-width: 78.75em) {
  .hello__name {
    font-size: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .hello__name {
    font-size: clamp( 2.25rem , 1.4840425532rem  +  3.829787234vw , 4.5rem );
  }
}
@media (max-width: 20em) {
  .hello__name {
    font-size: 2.25rem;
  }
}
@media (max-width: 47.99875em) {
  .hello__name {
    text-align: center;
  }
}
.hello__text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.166666;
  color: #e4e4e4;
}
.hello__button {
  display: inline-block;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1111;
  display: flex;
  align-items: center;
  color: #000000;
  align-self: flex-start;
  padding: 14px 41px 14px 41px;
  background: #e2a300;
  box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  transform: scale(1);
}
@media (any-hover: hover) {
  .hello__button:hover {
    transition: all 0.3s ease 0s;
    background: #ffd56b;
    transform: scale(1.03);
  }
}
@media (max-width: 47.99875em) {
  .hello__button {
    align-self: center;
  }
}
.hello__me {
  align-self: flex-end;
  width: 100%;
}
.hello__image-ibg {
  width: 100%;
  padding-bottom: 100%;
}

.about {
  position: relative;
  align-self: center;
  z-index: 2;
  height: 100%;
}
@media (min-width: 78.75em) {
  .about {
    padding-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .about {
    padding-bottom: clamp( 1.875rem , -0.6781914894rem  +  12.7659574468vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .about {
    padding-bottom: 1.875rem;
  }
}
.about__bgimg {
  position: absolute;
  background: url("../img/about/bgbig.jpg") 0 0/cover no-repeat;
  width: 300%;
  height: 150%;
  top: 0%;
  left: -100%;
  margin-top: 0px;
  z-index: 1;
}
.about__container {
  position: relative;
  max-width: 1100px;
  z-index: 5;
  height: 100%;
}
@media (min-width: 78.75em) {
  .about__container {
    padding-top: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .about__container {
    padding-top: clamp( 7.0625rem , 6.7007978723rem  +  1.8085106383vw , 8.125rem );
  }
}
@media (max-width: 20em) {
  .about__container {
    padding-top: 7.0625rem;
  }
}
.skills {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.skills__item {
  width: 22.88%;
  max-width: 200px;
  padding: 30px 50px 20px 50px;
  background: #2a2a2a;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  border-radius: 29px;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .skills__item:hover {
    transition: all 0.3s ease 0s;
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  }
}
@media (max-width: 61.99875em) {
  .skills__item {
    width: 47%;
  }
}
@media (max-width: 47.99875em) {
  .skills__item {
    width: 97%;
  }
}
@media (any-hover: hover) {
  .skills__item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease 0s;
  }
}
.skills__image-ibg {
  padding-bottom: 100%;
}
.skills__image-ibg:not(:last-child) {
  margin-bottom: 10px;
}
.skills__text {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.208;
  color: #e4e4e4;
  text-align: center;
}

@media (min-width: 78.75em) {
  .me {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .me {
    padding-top: clamp( 3.75rem , 2.4734042553rem  +  6.3829787234vw , 7.5rem );
  }
}
@media (max-width: 20em) {
  .me {
    padding-top: 3.75rem;
  }
}
.me__text-content {
  border-radius: 14px;
}
.me__content {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
}
@media (max-width: 47.99875em) {
  .me__content {
    grid-template-columns: 25% 1fr;
  }
}
@media (max-width: 29.99875em) {
  .me__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.me__images {
  display: flex;
  flex-direction: column;
}
@media (min-width: 78.75em) {
  .me__images {
    row-gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .me__images {
    row-gap: clamp( 6.25rem , 6.25rem  +  0vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .me__images {
    row-gap: 6.25rem;
  }
}
@media (max-width: 29.99875em) {
  .me__images {
    display: none;
  }
}
.me__image-ibg {
  padding-bottom: 100%;
  background: #2c2c2c;
  border-radius: 14px;
  overflow: hidden;
}
.me__title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.125;
  align-items: center;
  color: #e4e4e4;
  text-transform: uppercase;
}
.me__title:not(:last-child) {
  margin-bottom: 36px;
}
@media (max-width: 29.99875em) {
  .me__title {
    text-align: center;
  }
}
.me__text {
  display: flex;
  padding-top: 150px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.2;
  align-items: center;
  align-self: flex-start;
  letter-spacing: 0.01em;
  color: #ffffff;
  background: #2c2c2c;
  border-radius: 12px;
  margin-top: -60px;
}
@media (min-width: 78.75em) {
  .me__text {
    padding-top: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .me__text {
    padding-top: clamp( 1.25rem , -1.5159574468rem  +  13.829787234vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .me__text {
    padding-top: 1.25rem;
  }
}
.me__right-img {
  align-self: center;
  overflow: hidden;
  border-radius: 14px;
}
@media (max-width: 47.99875em) {
  .me__right-img {
    display: none;
  }
}

.portfolio {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 1000.52%);
}
@media (min-width: 78.75em) {
  .portfolio {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio {
    padding-top: clamp( 3.125rem , 2.0611702128rem  +  5.3191489362vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .portfolio {
    padding-top: 3.125rem;
  }
}
@media (min-width: 78.75em) {
  .portfolio {
    padding-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio {
    padding-bottom: clamp( 4.6875rem , 3.0917553191rem  +  7.9787234043vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .portfolio {
    padding-bottom: 4.6875rem;
  }
}
.portfolio__bg {
  position: absolute;
  width: 500%;
  height: 100%;
  top: 0%;
  left: -200%;
  margin-top: 0px;
  overflow-x: visible;
  z-index: 0;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 1000.52%);
}
.portfolio__title {
  z-index: 20;
  position: relative;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.125;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 78.75em) {
  .portfolio__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.6117021277rem  +  3.1914893617vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .portfolio__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.portfolio__slider-block {
  position: relative;
  max-width: 970px;
  width: 100%;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
  border-radius: 29px;
}
@media (min-width: 78.75em) {
  .portfolio__slider-block {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio__slider-block {
    padding-top: clamp( 0.0625rem , -0.9800531915rem  +  5.2127659574vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .portfolio__slider-block {
    padding-top: 0.0625rem;
  }
}
@media (min-width: 78.75em) {
  .portfolio__slider-block {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio__slider-block {
    padding-bottom: clamp( 0.0625rem , -0.9800531915rem  +  5.2127659574vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .portfolio__slider-block {
    padding-bottom: 0.0625rem;
  }
}
@media (min-width: 78.75em) {
  .portfolio__slider-block {
    padding-left: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio__slider-block {
    padding-left: clamp( 0.0625rem , -0.9800531915rem  +  5.2127659574vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .portfolio__slider-block {
    padding-left: 0.0625rem;
  }
}
@media (min-width: 78.75em) {
  .portfolio__slider-block {
    padding-right: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio__slider-block {
    padding-right: clamp( 0.0625rem , -0.9800531915rem  +  5.2127659574vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .portfolio__slider-block {
    padding-right: 0.0625rem;
  }
}
.portfolio__slider {
  position: relative;
  width: 100%;
}
.portfolio__content {
  display: grid;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
  align-items: center;
}
@media (min-width: 78.75em) {
  .portfolio__content {
    column-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio__content {
    column-gap: clamp( 0.0625rem , -0.5545212766rem  +  3.085106383vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .portfolio__content {
    column-gap: 0.0625rem;
  }
}
@media (min-width: 47.99875em) {
  .portfolio__content {
    grid-template-columns: 1fr 40%;
  }
}
.portfolio__image-ibg {
  width: 100%;
  height: 0%;
  border-radius: 29px;
  padding-bottom: 100%;
  overflow: hidden;
}
.portfolio__text-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
  padding: 0px 0px 0px 30px;
}
@media (min-width: 78.75em) {
  .portfolio__text-content {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio__text-content {
    padding-top: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .portfolio__text-content {
    padding-top: 1.875rem;
  }
}
.portfolio__block-content:not(:last-child) {
  margin-bottom: 20px;
}
.portfolio__text-title {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.208;
  text-align: center;
  color: #ffffff;
}
.portfolio__text-title:not(:last-child) {
  margin-bottom: 25px;
}
.portfolio__slide-text {
  display: none;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.1666;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 47.99875em) {
  .portfolio__slide-text {
    display: block;
  }
}
.portfolio__slide-link {
  position: relative;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.1666;
  color: #e2a100;
  align-self: flex-end;
  transition: all 0.3s ease 0s;
  transform: scale(1);
  border-radius: 5px;
  padding-right: 22px;
  padding-left: 5px;
}
@media (any-hover: hover) {
  .portfolio__slide-link:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.1);
    background-color: rgba(226, 158, 0, 0.48);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  }
}
.portfolio__slide-link::after {
  content: "";
  position: absolute;
  background: url("../img/portfolio/arrow.svg") 0 0/cover no-repeat;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
  width: 13px;
  height: 8px;
}
.portfolio__controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  padding-bottom: 10px;
  padding-left: 10px;
}
@media (min-width: 78.75em) {
  .portfolio__controls {
    padding-right: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .portfolio__controls {
    padding-right: clamp( 0.0625rem , -0.1289893617rem  +  0.9574468085vw , 0.625rem );
  }
}
@media (max-width: 20em) {
  .portfolio__controls {
    padding-right: 0.0625rem;
  }
}
@media (max-width: 47.99875em) {
  .portfolio__controls {
    display: none;
  }
}
.portfolio__button {
  width: 30px;
  height: 30px;
  position: relative;
  color: #e2a100;
  align-self: flex-end;
  transition: all 0.3s ease 0s;
  transform: scale(1);
  border-radius: 50%;
  background-color: rgba(226, 158, 0, 0.156);
}
@media (any-hover: hover) {
  .portfolio__button:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.1);
    background-color: rgba(226, 158, 0, 0.48);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  }
}
.portfolio__button_next {
  padding-right: 22px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.portfolio__button_next::after {
  content: "";
  position: absolute;
  background: url("../img/portfolio/arrow.svg") 0 0/cover no-repeat;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 15px;
  height: 10px;
}
.portfolio__button_prev {
  padding-right: 5px;
  padding-left: 22px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.portfolio__button_prev::before {
  content: "";
  position: absolute;
  background: url("../img/portfolio/arrow.svg") 0 0/cover no-repeat;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(180deg);
}

.header {
  background: rgba(42, 42, 42, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(226, 162, 0, 0.4862745098);
  z-index: 150;
}
.header._header-scroll {
  top: -100%;
}
.header._header-scroll._header-show {
  background: linear-gradient(to bottom, rgba(25, 25, 25, 0.99) 70%, rgba(25, 25, 25, 0.8) 100%);
  top: 0px;
  transition: top 0.3s ease 0s;
}
.header__logo {
  flex: 0 0 100px;
  border-radius: 12px;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}
.header__logo img {
  width: 100px;
}
@media (any-hover: hover) {
  .header__logo {
    transition: all 0.3s ease 0s;
  }
  .header__logo:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 47.99875em) {
  .header__menu {
    justify-content: flex-end;
  }
}

.block-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3.125rem;
  align-items: center;
}
@media (min-width: 78.75em) {
  .block-header {
    padding-top: 1.625rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .block-header {
    padding-top: clamp( 1.625rem , 1.625rem  +  0vw , 1.625rem );
  }
}
@media (max-width: 20em) {
  .block-header {
    padding-top: 1.625rem;
  }
}
@media (min-width: 78.75em) {
  .block-header {
    padding-bottom: 2.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .block-header {
    padding-bottom: clamp( 1.625rem , 1.3484042553rem  +  1.3829787234vw , 2.4375rem );
  }
}
@media (max-width: 20em) {
  .block-header {
    padding-bottom: 1.625rem;
  }
}

.menu {
  display: flex;
  flex: 0 1 710px;
}
.menu__body {
  display: flex;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    left: -100%;
    overflow: auto;
    align-items: flex-start;
    height: 100%;
    top: 0;
    transition: left 0.3s ease 0s;
    background: rgba(42, 42, 42, 0.9);
  }
}
@media (max-width: 47.99875em) and (min-width: 78.75em) {
  .menu__body {
    padding-top: 6.25rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 78.75em) {
  .menu__body {
    padding-top: clamp( 6.25rem , 6.25rem  +  0vw , 6.25rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 6.25rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__body::after {
    content: "";
    right: -100%;
    top: 0;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::after {
    content: "";
    right: 0;
  }
}
.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}
.menu__item {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__item:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.1);
  }
}
.menu__link {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.16666;
  border-bottom: 1px solid rgba(226, 162, 0, 0);
  transition: all 0.3s ease 0s;
  transform: scale(1);
}
@media (max-width: 47.99875em) and (min-width: 78.75em) {
  .menu__link {
    font-size: 2.8125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 78.75em) {
  .menu__link {
    font-size: clamp( 2.8125rem , 2.8125rem  +  0vw , 2.8125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__link {
    font-size: 2.8125rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    transition: all 0.3s ease 0s;
    border-bottom: 1px solid #e2a300;
    color: #e2a300;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 50px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  position: relative;
  z-index: 50;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  border-top: 1px solid rgba(226, 162, 0, 0.4862745098);
}
.footer__container {
  display: flex;
  justify-content: center;
}
.footer__items {
  display: flex;
  max-width: 828px;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 78.75em) {
  .footer__items {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .footer__items {
    padding-top: clamp( 1.25rem , 0.6117021277rem  +  3.1914893617vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .footer__items {
    padding-top: 1.25rem;
  }
}
@media (min-width: 78.75em) {
  .footer__items {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .footer__items {
    padding-bottom: clamp( 1.25rem , 0.6117021277rem  +  3.1914893617vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .footer__items {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 600px) {
  .footer__items {
    justify-content: space-evenly;
    row-gap: 30px;
  }
}
@media (min-width: 78.75em) {
  .footer__menu {
    margin-right: 7.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .footer__menu {
    margin-right: clamp( 1.25rem , -0.7712765957rem  +  10.1063829787vw , 7.1875rem );
  }
}
@media (max-width: 20em) {
  .footer__menu {
    margin-right: 1.25rem;
  }
}
@media (max-width: 365px) {
  .footer__menu {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}
.footer__item-menu {
  display: flex;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1, 16666;
  display: flex;
  align-items: center;
  color: rgba(228, 228, 228, 0.7);
  transition: all 0.3s ease 0s;
  transform: scale(1);
}
.footer__item-menu:not(:last-child) {
  margin-bottom: 18px;
}
@media (max-width: 365px) {
  .footer__item-menu:last-child {
    margin-bottom: 18px;
  }
}
@media (any-hover: hover) {
  .footer__item-menu:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.1);
    color: #e2a300;
  }
}
@media (min-width: 78.75em) {
  .footer__contacts {
    margin-right: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .footer__contacts {
    margin-right: clamp( 1.25rem , 0.4840425532rem  +  3.829787234vw , 3.5rem );
  }
}
@media (max-width: 20em) {
  .footer__contacts {
    margin-right: 1.25rem;
  }
}
.footer__item-contacts {
  display: flex;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1, 16666;
  display: flex;
  align-items: center;
  color: rgba(228, 228, 228, 0.7);
  transform: scale(1);
  transition: all 0.3s ease 0s;
}
.footer__item-contacts:not(:last-child) {
  margin-bottom: 18px;
}
@media (min-width: 78.75em) {
  .footer__item-contacts:last-child {
    margin-left: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .footer__item-contacts:last-child {
    margin-left: clamp( 2.5rem , 2.4574468085rem  +  0.2127659574vw , 2.625rem );
  }
}
@media (max-width: 20em) {
  .footer__item-contacts:last-child {
    margin-left: 2.5rem;
  }
}
@media (any-hover: hover) {
  .footer__item-contacts:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.1);
    color: #e2a300;
  }
}
.footer__right-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__right-items:not(:last-child) {
  margin-bottom: 57px;
}
.footer__logo {
  border-radius: 12px;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.3s ease 0s;
  width: 100px;
  height: 41.86px;
}
.footer__logo img {
  width: 100px;
}
@media (any-hover: hover) {
  .footer__logo {
    transition: all 0.3s ease 0s;
  }
  .footer__logo:hover {
    transform: scale(1.1);
  }
}
.footer__button {
  width: 60px;
  height: 60px;
  position: relative;
  color: #e2a100;
  align-self: flex-end;
  transition: all 0.3s ease 0s;
  transform: scale(1);
  border-radius: 50%;
  background-color: rgba(226, 158, 0, 0.156);
  padding-right: 5px;
  padding-left: 22px;
  padding-top: 3px;
  padding-bottom: 3px;
}
@media (any-hover: hover) {
  .footer__button:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.1);
    background-color: rgba(226, 158, 0, 0.48);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  }
}
.footer__button::before {
  content: "";
  position: absolute;
  background: url("../img/portfolio/arrow.svg") 0 0/cover no-repeat;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 20px;
  transform: translate(-50%, -50%) rotate(270deg);
}
.footer__copy {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1, 16666;
  display: flex;
  align-items: center;
  color: rgba(228, 228, 228, 0.7);
}

@font-face {
  font-family: MYRIADPRO;
  font-display: swap;
  src: url("../fonts/MYRIADPRO-BOLD.woff2") format("woff2"), url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: MyriadPro;
  font-display: swap;
  src: url("../fonts/MyriadPro-Light.woff2") format("woff2"), url("../fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: MYRIADPRO;
  font-display: swap;
  src: url("../fonts/MYRIADPRO-REGULAR.woff2") format("woff2"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
